.account {
  @include outer-container;
}
.account--block label {
  display: block;
}

.account--block input {
  width: 100%;
}

label.account--noblock {
  display: inline-block !important;
}

input.account--noblock {
  width: auto;
}

.account--block {
  margin-bottom: 1em;
}

.account--settings {
  @include span-columns(6);
}

input {
  //margin-top: 0.5em;
}