$errorColor: #F2DEDE;
$warningColor: darken(#FCF8E3, 10%);

.alert {
  padding: 1em;
  border-radius: $base-border-radius;
  margin-top: 1em;
  margin-bottom: 1em;
}

.alert p {
  margin: 0;
}

.alert p + p {
  margin-top: 0.75em;
}

.alert--error {
  background-color: $errorColor;
  color: darken($errorColor, 50%);
  border: 1px solid darken($errorColor, 40%);
}


.alert--warning {
  background-color: $warningColor;
  color: darken($warningColor, 50%);
  border: 1px solid darken($warningColor, 40%);
}
