* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

input {
  background-image: none; // FFA
}

small, sub, sup {
  font-size: .6em
}

sub {
  vertical-align: sub
}

sup {
  vertical-align: super
}

abbr {
  border-bottom: 1px dashed #777;
}

a {
  color: #428BCA;
}
hr {
  height: 0;
  border: none;
  border-bottom: 1px solid #aaa;
  margin-top: 1em;
  margin-bottom: 1em;
}