$buttonTypes: primary light;
$buttonBgColors: $primaryColor #cccccc;
$buttonFgColors: #fff #666;

@function capitalizeFirstLetter($string) {
  @return to-upper-case(str-slice($string, 1, 1)) + str-slice($string, 2);
}

button.confirm {
  background-color: $primaryColor !important;
}

.button {
  padding: 0.5em 1.5em;
  border-radius: $base-border-radius;
  color: #fff;
  text-decoration: none;
  @include transition(all 0.3s);
  cursor: pointer;
  border: none;
  display: inline-block;
}

.button--small {
  padding: 0.2em 0.75em;
  font-size: 0.8em;
}

@each $type in $buttonTypes {
  .button--#{$type} {
    background-color: nth($buttonBgColors, index($buttonTypes, $type));
    color: nth($buttonFgColors, index($buttonTypes, $type));
    border-bottom: 2px solid darken(nth($buttonBgColors, index($buttonTypes, $type)), 10%);
  }

  .button--#{$type}:hover, .button--#{$type}:focus, .button--#{$type}.button--pressed {
    background-color: darken(nth($buttonBgColors, index($buttonTypes, $type)), 10%);
    border-bottom: 2px solid darken(nth($buttonBgColors, index($buttonTypes, $type)), 20%);
  }

  .button--pressed {
    font-weight: bold;
    border-bottom: 2px darken(nth($buttonBgColors, index($buttonTypes, $type)), 20%);

  }

  .button--#{$type}:active {
    background-color: darken(nth($buttonBgColors, index($buttonTypes, $type)), 20%);
    @include transition(none);
    box-shadow: none;
  }
}

h1 .btns {
  float: right;
}

h1 .btns a {
  font-size: 0.5em;
}