// Based on works from a Bourbon refill (http://refills.bourbon.io/)
// Used under MIT License (https://github.com/thoughtbot/refills/blob/master/LICENSE.md)

.features {
  h1 {
    margin-bottom: 0.25em;
  }
}

.feature-bullets {
  $icon-bullet-size: 3.5em;

  overflow: auto;

  li {
    @include media($large-screen) {
      @include span-columns(4);
      @include omega(3n);
    }
  }

  .bullet-icon {
    float: left;
    background: #fff;
    padding: $icon-bullet-size / 4;
    border-radius: 50%;
    width: $icon-bullet-size;
    height: $icon-bullet-size;
    color: #000;
    text-align: center;
    i {
      font-size: 1.7em;
    }
  }


  .bullet-content {
  }

  h2 {
    font-size: $icon-bullet-size /2.5;
    padding-top: $icon-bullet-size /7;
    margin-bottom: $icon-bullet-size /6;
    display: inline-block;
    color: #fff;
  }
  p {
    color: #fff;
  }
}