.forms--text {
  border-radius: $base-border-radius;
  border: 1px solid #C6C6C6;
  padding: 0.5em 0.5em;
  @include transition(all 0.3s);
}

form {
  margin-bottom: ($baseSpacing / 2);
}

.forms--text:focus {
  border-color: lighten($primaryColor, 20%);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2) inset;
  outline: 0px none;
}

label {
  color: #777;
}