.generic--outer {
  @include outer-container;
  @media (max-width: 68em) {
    padding-left: 1em;
    padding-right: 1em;
  }
  padding-bottom: 1em;
}

.generic--outer-topmargin {
  margin-top: 1.5em;
}