.generator .result {
  margin-top: 1em;
}

ul {
  list-style: disc inside;
}

.math {
  line-height: 1em !important;
}

.answers {
  background-color: #eee;
  border-radius: 3px;
  padding: 1em;
  input {
    margin-top: 1em;
  }
}

.answers ul {
  list-style: none;
  li {
    margin-top: 0.5em;
  }
}
