// Styles for the homepage
.hero {
  background-color: $secondaryColor;
  width: 100%;
  @media (max-width: $large-screen) {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.hero--inner {
  @include outer-container;
  text-align: center;
  h1 {
    font-size: 3em;
    color: #fff;
    margin-bottom: 1em;
    font-weight: 100;
  }
  @media(max-width: 1100px) {
    h1 {
      font-size: 2em;
    }
  }
  a.button + a {
    margin-left: 1.5em;
  }
  padding: 2em 0 2em 0;
}