.hero + .homepage--block {
  margin-top: 1em;
}

.homepage--block {
  @include outer-container;
  @media (max-width: $large-screen) {
    padding-left: 1em;
    padding-right: 1em;
  }
  margin-bottom: 4em;
}

.homepage--block-no-bottom {
  margin-bottom: 1em;
}

.maintenance h1 {
  margin-bottom: 0;
}

#example-graph {
  @include media($large-screen) {
    @include span-columns(4);
  }
}

.homepage--linintro {
  @include media($large-screen) {
    @include span-columns(8);
  }
}

#example-graph img {
  background-color: #333;
  width: 100%;
}


#example-graph p {
  color: #999;
  font-style: italic;
}
.call-to-action {
  //border-top: 1px solid #555;
  margin-top: 2em;
  .secondary-links {
    margin-top: 0.3em;
    font-size: 0.8em;
    a +a {
      margin-left: 0.25em;
    }
  }
}

.call-to-action > a {
  font-size: 1.5em;
}
