.login--wrapper {
  //@include outer-container;
  background-color: #eee;
  border-radius: $base-border-radius;
  padding: 2em;
}

.login--wrapper h1 {
  line-height: 1;
}

.login--wrapper {

  @include media($large-screen) {
    @include span-columns(6);
    @include shift(3);
  }

  @include media($medium-screen) {
    @include span-columns(8);
    @include shift(2);
  }
}

.login--block {
  margin-top: 1em;
  input:not([type="submit"]) {
    width: 100%;
  }
}