// These are all the fonts from MathJax
// We're using the fonts directly because MathJax is painfully slow
@font-face {
  font-family: "MathJax_Math";
  font-style: italic;
  src: url('https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.4.0/fonts/HTML-CSS/TeX/woff/MathJax_Math-Italic.woff?rev=2.4-beta-2') format('woff'), url('https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.4.0/fonts/HTML-CSS/TeX/otf/MathJax_Math-Italic.otf?rev=2.4-beta-2') format('opentype');
}

@font-face {
  font-family: "MathJax_Main";
  src: url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/woff/MathJax_Main-Regular.woff?rev=2.4-beta-2") format("woff"), url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/otf/MathJax_Main-Regular.otf?rev=2.4-beta-2") format("opentype");
}

.math {
  font-family: MathJax_Main;
  font-size: 1.5em;
  line-height: 0;
}

.math:after {
  margin-top: 1em;
}
.math--block {
  display: block;
}

.math--math {
  font-family: MathJax_Math;
  font-style: italic;
}

.math-wrapper {
  margin-top: 1em;
  margin-bottom: 1em;
}

.workings--iwb .math-wrapper span {
  font-size: 1.75em;
}

.workings--iwb .math-wrapper {
  margin: 2em 0;
}