// isnpired by GitHub's clean slate
.placeholder {
  border: 1px solid #aaa;
  border-radius: $base-border-radius;
  background-color: #dedede;
  padding: 2em;
  box-shadow: inset 0px 0px 15px rgba(0,0,0,0.05);
  p {
    text-align: center;
    font-style: italic;
    color: #999;
  }
  margin-bottom: 1em;
}