@media print {
  .footer {
    display: none !important;
  }

  nav {
    display: none !important;
  }

  .step-block {
    page-break-inside: avoid;
  }

  .workings h1 .btns {
    display: none;
  }

  .tableau--pivot-col, .tableau--pivot-row, .tableau--justchanged {
    font-weight: bold;
    -webkit-print-color-adjust: exact;
  }

  .tableau--pivot-col.tableau--pivot-row {
    text-decoration: underline;
  }

}