.solver input[type="range"] {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding: 1em 0 1em 0;
}

.solver--selectionHint {
  font-style: italic;
  color: #777;
  display: block;
}

.solver--component {
  border-radius: $base-border-radius;
  background-color: #ddd;
  margin-bottom: 0.75em;
  position: relative;
  a.button {
    position: absolute;
    right: 1em;
  }
  .solver--componentItems {

  }
  padding: 1em 1em 3em;
}

.solver--componentItems {
  padding-right: 20px;
}

.solver--visibility-toggle {
  color: lighten($baseFontColor, 50%) !important;
  text-decoration: none;
}

.varWrapper {
  float: right;

}

.solver--default {
  //margin-bottom: 1em;
  width: 118px !important;
}

.solver ul {
  @include real-list;
}

input[type=range] {
  -webkit-appearance: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.solver {

  @mixin slider_track {
    width: 100%;
    height: 5px;
    background: #555;
    border: none;
    border-radius: 3px;
  }
  input[type=range]::-webkit-slider-runnable-track {
    @include slider_track;
  }

  input[type=range]::-moz-range-track {
    @include slider_track;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: lighten($primaryColor, 10%);
    margin-top: -4px;
  }

  input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: lighten($primaryColor, 10%);
  }

  input[type=range]::-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
  }

  input[type=range]:focus {
    outline: none;
  }

  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #444;
  }

  ::-ms-fill-lower {
    background: #555;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

  }
  ::-ms-fill-upper {
    background: #555;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  ::-ms-thumb {
    background: #fff;
    border: 0px !important;
    border-radius: 50%;

  }

  ::-ms-track {
    color: transparent;
    border: 0px;
    height: 15px;
  }


}

.solver--add-constraint {
  margin-top: 1em;
}

.solver--objfunc-block {
  padding-bottom: 1em; // padding
}
.solver--probprev {
  position: sticky;
  top: 3px;
}
.solver--probprev .objFuncPrevWrapper {
  display: inline;

  .preview-text {
    display: none;
  }
}

.allConstraintsPrev {
  display: inline;
}

label {
  padding-top: 1em;
  padding-bottom: 1em;
}


.btns {
  font-size: 0.8em;
}

input[type=number] {
  border: 1px solid #ddd;
  margin: 0.25em 0 0.25em 0;
  @include transition(0.3s all);
  width: 4em;
}

input[type=number]:focus {
  border: 1px solid darken($primaryColor, 20%);
}