.tableau td, .tableau th {
  border: 1px solid #333;
  text-align: center;
  padding: 0.2em 1em 0.2em 1em;
  vertical-align: middle;
}

.tableau th {
  font-weight: bold;
  font-style: italic;
}

.workings--iwb .tableau {
  font-size: 1.75em;
}

table.tableau {
  max-width: 100%;
}

.tableau-symbol {
  font-family: "MathJax_Math", serif;
  font-style: italic;
  font-weight: normal !important;
  font-size: 1.5em;
}
@include keyframes(bg-anim-col) {
  0%{
    background: none;
  }
  100% {
    background-color: #86220f;
    color: #fff;
  }
}

@include keyframes(bg-anim-row) {
  0%{
    background: none;
  }
  100% {
    background-color: #34495e;
    color: #fff;
  }
}

@include keyframes(bg-anim-changed) {
  0% {
    background-color: transparent;
    border: 1px solid transparent;
  }
  100% {
    background-color: #42FE08;
    border: 1px solid black;
  }
}

@include keyframes(bg-anim-both) {
  0%{
    background: none;
  }
  100% {
    background-color: #c2a423;
  }
}

.tableau--pivot-col {
  @include animation(bg-anim-col 0.3s ease-in forwards);
}

.tableau--pivot-row {
  @include animation(bg-anim-row 0.3s ease-in forwards 0.2s);
}

.tableau--pivot-col.tableau--pivot-row {
  @include animation(bg-anim-col 0.3s ease-in forwards 0.2s);
  @include animation(bg-anim-row 0.3s ease-in forwards 0.2s);
  @include animation(bg-anim-both 0.3s ease-in forwards);
}

.tableau.no-anim * {
  animation-name: none !important;
}

.tableau--condensed {
  display: none;
}

.todo-tableau--justchanged > span {
  padding: 0px 10px;
  border: 1px solid transparent;
}

.tableau--justchanged > span {
  padding: 0px 10px;
  border: 1px solid transparent;
  @include animation(bg-anim-changed 0.3s ease-in forwards);
}

@media (max-width: $portrait-screen) {
  .tableau {
    width: 100%;
  }

  .tableau th > * {
    display: none;
  }

  .tableau th, .tableau td {
    padding: inherit !important;
  }

  .tableau th > .tableau--condensed {
    display: block;
  }
  .tableau th > .tableau-symbol {
    display: block;
  }

  .tableau--justchanged > span {
    background-color: rgb(0, 255, 0);
    padding: 0;
    border: none;
  }

}

