@import url(//fonts.googleapis.com/css?family=Open+Sans:600,400,700);

body.typography--sans {
  color: $baseFontColor;
  -webkit-font-smoothing: antialiased;
  background-color: $base-background-color;
  font-family: $baseFontFamily;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headerFontFamily;
  line-height: $headerLineHeight;
  margin: 0 0 ($baseSpacing / 5);
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
}


h1 {
  font-size: $h1FontSize;
}

h2 {
  font-size: $h2FontSize;
}

h3 {
  font-size: $h3FontSize;
}

h4 {
  font-size: $h4FontSize;
}

h5 {
  font-size: $h5FontSize;
}

h6 {
  font-size: $h6FontSize;
}

p {
  margin: 0 0 ($baseSpacing / 2);
}

strong {
  font-weight: 700;
}