h1 > a {
  font-size: 0.5em;
  float: right;
}


.math-wrapper ul > li + li {
  margin-top: 1em;
}

.workings--iwb .math-wrapper.obj-func {
  border-top: 1px solid #aaa;
  padding-top: 2.5em;
}

.workings--iwb .math-wrapper ul > li + li {
  margin-top: 2em;
}

.js-only {
  display: none;
}

.workings--iwb .negative {
  color: #a51900;
  font-weight: bold;
}
.workings--iwb .positive {
  color: #00a502;
}

.workings--iwb .tableau--theta-row-bold {
  font-weight: bold;
}

.workings--iwb .solutions .math-wrapper {
  font-size: 1.75em;
}

@media (max-width: $medium-screen) {
  .workings--iwb-toggle {
    display: none;
    // I bet they're not on an IWB :P
  }
}

@media (max-width: 430px) {
  .btns {
    display: block;
    float: left !important;
    width: 100%;
    margin-bottom: 0.3em;
  }

  .workings--result {
    display: block;

  }
}
