$primaryColor: #2980b9; // old = 34495e 2980b9 // other = #d35400
$secondaryColor: #333333;
$baseFontColor: #333;

$footerColor: #aaa;
// Font Sizes
$baseFontSize: 14px;
$baseFontFamily: "Open Sans";
$headerFontFamily: "Open Sans"; // Might change to a nice serif..

$h1FontSize: 2.5714285714285716em;
$h2FontSize: 2.142857142857143em;
$h3FontSize: 1.7142857142857142em;
$h4FontSize: 1.2857142857142858em;
$h5FontSize: 1em;
$h6FontSize: 0.8571428571428571em;
$baseLineHeight: 1.5;
$headerLineHeight: 1.25;
$baseSpacing: $baseLineHeight * 1em;

$browser-top-bar-height: 1.5em;
$browser-circle-size: .5em;
$browser-circle-margin: ($browser-top-bar-height - $browser-circle-size) / 2;
$browser-top-bar-background: lighten(#DFDFDF, 5);
$browser-border: 0px;
$browser-background: #fff;
$browser-content-background-1: #F0F0F0;
$browser-content-background-2: #fff;
$browser-content-background-3: #F0F0F0;
$medium-screen: em(640);
$large-screen: em(860);
$portrait-screen: em(400);
$base-border-radius: 3px;
$base-background-color: #fff;
